.App {
  min-height: 100vh;
  text-align: center;
  background-color: burlywood;
  color: #fff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 0;
}
.block1 {
  margin-bottom: 20px;
}
.block1 h1 {
  margin-bottom: 20px;
  font-family: 'Fira Sans';
}
.block2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.block2 li {
  margin: 0 10px 20px;
  list-style: none;
}
.button {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.5s ease 0s;
}
.button.red {background-color: red;}
.button.darkgreen {background-color: darkgreen;}
.button.yellow {background-color: darkgoldenrod;}
.button.blueviolet {background-color: blueviolet;}
.button.chocolate {background-color: chocolate;}
.button.black {background-color: #333;}
.button:hover {color: rgba(255, 255, 255, 0.6);}

.block3 {
  margin: 30px 0;
}
.block3 ul {
  list-style: none;
}
.block3 ul li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  text-align: left;
  color: #000;
}
.block3 ul li.complete {
  text-decoration: line-through;
}
.block3 ul li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}